/*-----------Cart items Styling------------*/

.card-items-container{
    padding-top: 7em;     
 }
 
 .td-container{
            height: 90%;
           display: flex;
    flex-direction: column;
   justify-content: flex-end;
  background-color: rgba(236, 31, 4, 0.877);
             width: 70%;
            margin: 0 auto 3em;
             color: white;
           padding: 0.5em;
         font-size: 1.5em;
       font-family: sans-serif;     
 }
 
 td{
   padding: 0.5em;
 }
 
 td input{
            padding: 0.4em;
   background-color: inherit;
            outline: none;
              color: white;
          font-size: 1em; 
             border: 1px solid white;  
 }
 
 td input:focus{
   background-color: inherit;
            outline: 2px white solid;
  
 }
 
 td:last-child{
   text-align: right;
 }
 
 th:last-child{
   text-align: right;
 }
 
 .card-items-container table tr td input{
    width: 40%;
   margin: 1.5em;
 }
 th{
   background-color:  rgb(236, 31, 4);
            padding: 0.5em;
 }
 
 .total-price{
           display: flex;
   justify-content: flex-end;
 }
 
 .total-price table{
   width: 450px;
 }
 /*-----------End Cart items Styling------------*/