/*-----------Cart items Styling------------*/

.card-items-container {
  width: 98%;
  margin: auto;
  top: 0;
  left: 2.5em;
  position: fixed;
  padding-top: 7em;
  z-index: 3;
  transition: all 300ms ease-in-out;
}

.td-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(236, 31, 4, 0.877);
  width: 90%;
  margin: auto;
  color: white;
  padding: 0.5em;
  font-size: 1.5em;
  font-family: sans-serif;
}

td {
  padding: 0.5em;
}

td input {
  padding: 0.4em;
  background-color: inherit;
  outline: none;
  color: white;
  font-size: 1em;
  border: 1px solid white;
}

td input:focus {
  background-color: inherit;
  outline: 2px white solid;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.card-items-container table tr td input {
  width: 40%;
  margin: 1.5em;
}
th {
  background-color: rgb(236, 31, 4);
  padding: 0.5em;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  width: 450px;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 2;
}

.hide {
  top: -100em;
}

/*-----------End Cart items Styling------------*/
