* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 98%;
}

body {
  background-color: white;
  height: 100%;
  text-align: center;
}

/*********Header Styling*********/
header {
  height: fit-content;
  width: 100%;
}

/*****Nav Menu*****/
.nav-bar {
  background-color: #161515;
  box-shadow: 0 5px 5px #161616b4;
  width: 100%;
  position: fixed;
  z-index: 110;
  height: 90px;
  border-bottom: 4px solid #fff;
}

.nav-bar .container {
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  margin: auto;
}

.nav-bar .container .nav-logo a img {
  width: 100%;
  height: 60px;
  margin: 0;
}

.nav-menu nav ul {
  display: flex;
  list-style-type: none;
}

.nav-menu nav ul li {
  height: fit-content;
  padding: 0.8em 0.2em;
  margin: 0.2em;
  border-radius: 5px;
}

.nav-menu nav ul li a {
  text-decoration: none;
  color: rgb(255, 249, 249);
  transition: 0.5s;
  padding: 0.8em;
  font-family: sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}

.active,
.nav-menu nav ul li:hover {
  background-color: #4947473b;
}

.nav__bar__btn {
  display: none;
}

.card1 {
  position: relative;
  transition: 0.7s;
}
.card1 span {
  padding: 0.05em 0.3em;
  position: absolute;
  color: white;
  background-color: rgb(255, 76, 6);
  border-radius: 10px;
  font-weight: 600;
}

.card1:hover {
  transform: translateX(0.5em);
}

/*-----Banner-----*/

header .banner-container .container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 auto;
  width: 100%;
  height: fit-content;
  margin: auto;
}

header .banner-container {
  background-image: url(/images/bg.jpg);
  background-color: rgb(110, 37, 3);
  background-position: 50% 60%;
  background-blend-mode: difference;
  align-items: center;
  padding-top: 3.5em;
  text-align: left;
  border-radius: 16px;
  height: fit-content;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  margin: auto;
  border-bottom: 2px solid #161515;
}

.skewY-adjsuter {
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 100%;
  margin-left: 2em;
}

.banner-text {
  padding-top: 1.5em;
  padding-bottom: 9em;
  padding: 1.5em;
  font-family: sans-serif;
  font-weight: 600;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.banner-text h1 {
  margin-bottom: 0.9em;
  margin-left: -1.5em;
  font-family: serif;
  font-size: 2.5em;
}

.banner-text p {
  padding-left: 2em;
  font-size: 1.5em;
}

.btn {
  margin-top: 2.5em;
  background-color: rgba(236, 58, 4, 0.938);
  border-radius: 8px;
  padding: 0.5em 0.7em;
  border: 2px solid #16161663;
  box-shadow: 1px 1px 3px 3px #16161681;
}

.btn a {
  text-decoration: none;
  color: rgb(253, 252, 252);
  transition: 0.5s;
  font-size: 0.8em;
  font-family: sans-serif;
}

#animated-text {
  margin-top: 1.5em;
  font-weight: 700;
  font-size: 1.8em;
}

.feel,
.priority {
  display: none;
}
/*******End Header Styling*******/

/*******Featured Categories*******/

.feature-categories-container {
  width: 80%;
  margin: auto;
  padding: 0.2em;
}

.title {
  display: flex;
  flex-direction: column;
  line-height: 1.7em;
  text-align: center;
  margin: 1.5em auto;
  padding: 0.5em;
  font-family: serif;
  font-size: 1.5em;
  color: #161515;
}

.title hr {
  margin-top: 1.1em;
  align-self: center;
  width: 25%;
  height: 0.11em;
  border-color: rgb(255, 76, 6);
  background-color: rgb(255, 76, 6);
  border-radius: 45%;
}

.feature-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature-categories .col-3 {
  width: 100%;
  height: 100%;
  margin: 0.5em 1.5em;
}

.col-3 img {
  width: 300px;
  height: 350px;
}

/*******End Featured Categories*******/

/*******Featured Products*******/

.featured-products-container {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 4em 6.5em 1.5em 7.5em;
}

.feature-products {
  padding: 0 2.5em 0 2.5em;
  margin: auto;
}

.col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffffd5;
  padding: 0.5em;
  text-align: center;
  margin: 0.2em;
  transition: 0.7s;
}

.col-4:hover {
  transform: translateY(-0.6em);
}

.col-4 img {
  width: 100%;
  min-width: 150px;
  min-height: 300px;
}

.rating .fa-star-half-alt,
.rating .fa-star {
  color: rgb(241, 170, 89) !important;
}

/*******End Featured Products*******/

/*------Lates Product------*/

.latest-products-container {
  height: 400px;
  width: 70%;
  margin: 2.5em auto 0;
  padding: 1.5em;
  color: white;
}

.latest-products {
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2em;
  color: red;
}
/*------End Lates Product------*/

/*------Testimonials------*/

/*--------Testimonial Slider--------*/

@keyframes slide {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  100% {
    left: 0%;
  }
}

/*--------End Testimonial Slider--------*/

.testimonials-container {
  width: 50%;
  height: fit-content;
  margin: auto;
  overflow: hidden;
}

.testimonials {
  display: flex;
  margin: 1.5em auto;
  position: relative;
  width: 400%;
  height: 100%;
  animation: slide infinite;
  animation-duration: 50s;
}

.testimonial-items {
  text-align: center;
  padding: 0.5em;
  margin: 0.5em 0 2.5em;
  transition: 0.3s;
  float: left;
  width: 100%;
  position: relative;
  height: 100%;
  font-size: 1.2em;
  font-family: sans-serif;
}

.testimonial-items img {
  margin-top: 0.5em;
  width: 60%;
  height: 200px;
}
/*------End Testimonials------*/

/*------Cart display------*/

/*------Footer-------*/
footer {
  background-color: #000000;
  padding: 0 0.5em;
  color: white;
  align-content: center;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1.2em 0 0.2em 0;
}

.footer-container h2 {
  padding: 0.9em 0 1.2em 0;
  font-size: 1.5em;
  font-family: sans-serif;
}

.footer-social {
  margin: auto;
  width: 20%;
}

.footer-div {
  display: flex;
  justify-content: space-evenly;
  margin: 0.1em;
}

footer .footer-links {
  color: rgb(180, 173, 173);
  transition: 0.6s;
  margin: 1em;
}

footer .footer-links:hover {
  transform: translateX(0.5em);
}

footer .footer-links a {
  color: rgb(164, 167, 168);
  transition: 0.6s;
}

footer .footer-links a:hover {
  color: rgb(255, 255, 255);
  transition: 0.6s;
}

hr {
  width: 98%;
  margin: auto;
}

footer p {
  padding: 0.5em;
}

.ftBtn {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
}

.ftBtn a {
  color: rgb(173, 180, 182);
  padding: 0.5em;
  transition: 0.5s;
  font-size: 1.2em;
  font-family: sans-serif;
  text-decoration: none;
}

.ftBtn button {
  background-color: inherit;
  border: none;
  padding: 0.6em;
}

.ftBtn a:hover {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.office-location {
  width: 30%;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  min-width: 100px;
  width: 100%;
  margin: 0.5em;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 200px;
  width: 100%;
  min-width: 100px;
}

.footerSubcontainer {
  position: relative;
}

.footerSubcontainer span a {
  border: solid rgb(158, 158, 158);
  color: rgb(158, 158, 158);
  padding: 0.2em 0.5em;
  position: fixed;
  top: 80vh;
  left: 85vw;
  font-size: 1.5em;
  transition: 0.5s;
}

.footerSubcontainer #down-btn a {
  left: 78vw;
}

.footerSubcontainer span a:hover {
  border: solid rgb(207, 206, 206);
  color: rgb(206, 205, 205);
}
/*------End footer-------*/

/*------ Account page styling-------*/
.account {
  min-height: 50vh;
}

/*------ Account page styling-------*/

/*------ Tablet version------*/

@media (min-width: 660px) and (max-width: 800px) {
  /*-----Nav Menu-----*/
  .nav-bar {
    padding: 0 1em;
  }

  /*------MQ Banner------*/
  .banner-text p {
    font-size: 1.1em;
  }

  header .banner-container {
    background-position: 60% 50%;
  }

  #animated-text {
    margin-top: 1.5em;
    font-weight: 500;
    font-size: 1.4em;
  }

  /*------- MQ Feature Categories Styling-------*/
  .col-3 img {
    width: 100%;
    height: 350px;
  }

  /*------- End MQ Feature Categories Styling-------*/

  /*-------MQ Feature Products Styling-------*/
  #product-vase img {
    width: 70%;
  }

  .featured-products-container {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 4em 0.8em 1.5em 0.9em;
  }

  .col-4 {
    padding: 0.8em;
    width: 100%;
  }

  .col-4 img {
    width: 90%;
    min-height: 300px;
  }

  /*--------MQ Testimonials --------*/
  .testimonials-container {
    width: 70%;
    margin: auto;
  }

  .footer-container {
    width: 100%;
  }
}

/*------Mobile MQ--------*/

@media (max-width: 660px) {
  .nav-bar {
    padding: 0 1em;
  }

  /*------MQ Banner------*/

  header .banner-container {
    background-position: 65% 60%;
  }

  #animated-text {
    margin-top: 1.5em;
    font-weight: 500;
    font-size: 1.3em;
  }

  .banner-text {
    font-size: 0.8em;
  }

  .banner-text h1 {
    font-size: 1.8em;
    margin-left: -1.5em;
  }

  .banner-text p {
    padding-left: 1.5em;
    font-size: 1.2em;
    margin: auto;
  }

  /*-------MQ Feature Categories Styling-------*/

  .title hr {
    width: 45%;
  }

  .feature-categories-container {
    width: 75%;
    margin: auto;
  }

  .feature-categories {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .col-3 {
    width: 100%;
  }

  .col-3 img {
    width: 100%;
    height: auto;
  }

  /*-------MQ Feature Products Styling-------*/

  .featured-products-container .title-sort {
    padding-top: 1em;
  }

  .title-sort {
    margin: 1.5em;
  }

  .featured-products-container .grid-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .featured-products-container {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 4em 2.5em 1.5em 2.5em;
  }

  .feature-products {
    padding: 0 1.5em 0 1.5em;
    margin: auto;
  }

  #product-vase img {
    width: 60%;
  }

  .col-4 img {
    width: 95%;
    margin: auto;
  }

  .col-4 {
    padding: 0.5em;
    width: 100%;
  }

  .allp-btn {
    padding: 0.8em;
  }

  .allp-btn span {
    margin: 0.3em !important;
    padding: 0.4em 0.6em !important;
  }
  /*------- End MQ Feature Products Styling-------*/

  /*--------MQ Testimonials --------*/
  .testimonials-container {
    width: 70%;
    margin: auto;
    height: 450px;
  }

  /*-------MQ Footer-------*/

  /*-------- Footer MQ */
  .footer-container {
    flex-direction: column;
    width: 100%;
  }

  .ftBtn {
    padding: 0.5em;
  }

  .footer-social {
    width: 80%;
    margin: auto;
  }

  .footer-div {
    justify-content: center;
  }

  .office-location {
    width: 100%;
    margin: auto;
  }

  .mapouter {
    position: relative;
    text-align: right;
    height: 50%;
    width: 80%;
    margin: auto;
  }

  .footerSubcontainer {
    display: flex;
  }

  .footerSubcontainer p {
    width: 95%;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 80%;
    margin: auto;
  }

  .footerSubcontainer span a {
    left: 80vw;
  }

  .footerSubcontainer #down-btn a {
    left: 68vw;
  }
}

/*-------- Mobile Phone Version----------*/
@media (max-width: 550px) {
  /* Banner Mobile Phone */
  .banner-text p {
    padding-left: 0.5em;
    font-size: 1em;
  }

  #animated-text {
    text-align: center;
    font-size: 1.1em;
  }

  /* Featured Products */
  .featured-products-container .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .title-sort {
    flex-direction: column;
    margin: 1.5em;
  }
  /* End Featured Products */

  .footerSubcontainer span a {
    left: 78vw;
  }

  .footerSubcontainer #down-btn a {
    left: 65vw;
  }
}

/*-------- End Mobile Phone Version----------*/

.overlay-2 {
  z-index: 4;
}
