*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

body{
  background-color: rgb(252, 252, 252);
  height: 100%;
  text-align: center;
}

/*********Header Styling*********/
header{
  /* background-color:  #9E6F99; */
            height: fit-content;
}

/*****Nav Menu*****/
.nav-bar{
    background-color: rgb(14, 13, 13);
    justify-content: space-between;
    align-items: center;
        display: flex;
        padding: 0 8em;
          width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-menu nav ul{
  display: flex;
  list-style-type: none;
}

.nav-menu nav ul li a{
  text-decoration: none;
  margin: 1.1em;
  color: rgb(255, 249, 249);
  transition: 0.5s;
  padding: 0.3em;
}

.active,
.nav-menu nav ul li a:hover{
  color: #f5beef;
  border-bottom: solid  #fafafa;
  
}

.card1{
transition: 0.7s;
}

.card1:hover{
transform: translateX(0.5em);
}

/*-----Banner-----*/
header .banner-container{
  background-color:  #9E6F99;
  align-items: center;
  padding-top: 3.5em;
  text-align: center;
  border: #9E6F99 solid;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.5em;
  transform: skewY(-3deg);
}

.skewY-adjsuter{ 
  justify-content: space-between;
  transform: skewY(3deg);
  display: flex;
  margin: auto;
  width: 70%;
}

.banner-text{
  padding-bottom: 9em;
  padding-left: 2em;
}

.banner-text h1{
margin-bottom: 0.5em;
}

.banner-text h2{
margin-bottom: 0.5em;
}

.span{
  margin: 1em 0;
}

.img{
  float: left; 
  width: 100%;
  margin: auto;
  position: relative;
  height: auto;
}

.img img{
    width: 300px; 
   height: 500px;
}



.btn{
  margin-top: 1.5em;
}

.btn a{
  border: rgb(10, 10, 10) solid;
  border-radius: 8px;
  padding: 0.3em 0.4em;
  text-decoration: none;
  color: rgb(27, 4, 4);
  transition: 0.5s;
  font-size: 0.6em;
  background-color: #ebcef7;
}

.btn a:hover{
  font-size: 0.57em;
}
/*******End Header Styling*******/

/*******Featured Categories*******/

.feature-categories-container{
    width: 80%;
   margin: auto;
   padding: 0.5em;
}

.title{
  display: flex;
  flex-direction: column;
  line-height: 1.1em;
  text-align: center;
  margin: 2.5em auto;
  padding: 0.5em;
  color: #9E6F99;
}

.title hr{
  margin-top: 1.1em;
  align-self: center;
  width: 15%;
  height: 0.2em;
  border-color: rgb(238, 218, 241);
  background-color:  rgb(231, 208, 241);
}

.feature-categories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.1em;

}

  .col-3{
  width: 100%;
  height: 100%;
  }

  .col-3 img{
    width: 100%;
    height: auto;
    }

   #vase img{
    width: 300px;
    height: 600px;
    }
    
/*******End Featured Categories*******/

/*******Featured Products*******/

.featured-products-container{
  position: relative;
  width: 70%;
  margin: auto;
  padding-top: 4em;
}

.feature-products{
  display: flex;
  flex-wrap: wrap;
}

.col-4{
  background-color: #f1dff5;
  padding: 0.9em;
  flex-basis: 30%;
  text-align: center;
  margin: 0.9em;
  transition: 0.7s;
  color: #1a1819;
}

.col-4:hover{
  transform: translateY(-0.6em);
}
.col-4 img{
  width: 100%;
}
 
#product-vase img{
    width: 200px;
}
.rating i{
  color:rgb(241, 170, 89) !important;
}

/*******End Featured Products*******/

/*------Lates Product------*/

.latest-products-container{
  background-color: rgb(0, 0, 0);
  height: 400px;
  width: 70%;
  margin: 2.5em auto 0;
  padding: 1.5em;
  color: white;
}

  .latest-products{
    text-align: center;
    line-height: 1.5em;
    font-size: 1.2em;
    color: red;
  }
/*------End Lates Product------*/

/*------Testimonials------*/

/*--------Testimonial Slider--------*/

@keyframes slide {
   0%{left: 0%;}
   10%{left: 0%;}
   20%{left: -100%;}
   30%{left: -100%;}
   40%{left: -200%;}
   50%{left: -200%;}
   60%{left: -300%;}
   70%{left: -300%;}
   100%{left: 0%;}
}

/*--------End Testimonial Slider--------*/

.contaner{
  flex-direction: column;
  justify-content: space-around;
  position: relative;
    display: flex;
    margin: 1.5em;
}

.contaner h2{
  align-self: flex-end;
  position: absolute;
  margin-right: 2em;
  margin-bottom: 0.5em;
}

.testimonials-container{
  width: 20%;
  height: 500px;
  margin: auto;
  overflow:hidden;
}

.testimonials{
  display: flex;
  margin: 1.5em 0;
  position: relative;
  width: 400%;
  height: 30%;
  animation: slide infinite;
  animation-duration: 15s;
}

.testimonial-items{
  text-align: center;
  padding: 1em;
  margin-top: 0.5em;
  transition: 0.3s;
  float: left; 
  width: 25%;
  position: relative;
  height: 100%;
}

.testimonial-items img{
 width: 50%;
 height: 80%;
 margin-top: 0.9em;
}



/*------End Testimonials------*/



/*------Footer-------*/
footer{
  background-color: rgb(15, 0, 0);
  margin-bottom: 0;
  padding: 0 1.5em;
  color: white;
  align-content: center;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 1.5em;
  text-align: center;
}

.footer-container h2{
  margin-top: 1.5em;
  padding: 0.5em;

}


.footer-div{
  display: flex;
  justify-content: center;
  margin: 0.6em;
}

footer a{
  margin: 1.5em;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  transition: 0.6s;
  text-decoration: none;
}

footer a:hover{
  color:rgb(246, 193, 248);
  transform: scale(1.98);
}

footer .footer-links{
 transition: 0.6s;
}

footer .footer-links:hover{
  transform: translateX(0.5em);
}

hr{
  width: 100%;
}

footer p{
  padding: 0.5em;
}
.ftBtn{
  padding: 2.5em;

}

.ftBtn a{
  color: white;
  border: solid white;
  border-radius: 15px;
  padding: .5em;
  transition: 0.7s;
  font-size: 1em;
}

.ftBtn a:hover{
  color: rgb(246, 193, 248);
  border: solid rgb(246, 193, 248);
  transform: scale(1.98);
}

.mapouter{
  position: relative;
  text-align: right;
  height: 300px;
  width: 400px;
  margin: 0.5em;
}
  

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 400px;
  margin: 0.5em;
}

.footerSubcontainer{
  display: flex;
}

.footerSubcontainer h2 a{
  border: solid white;
  padding: 0 0.5em;
}

.footerSubcontainer h2 a:hover{
  border: solid rgb(233, 191, 240);
}
/*------End footer-------*/

/*------All Product Page Styling-------*/

.title-sort{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

select{
  padding: 0.5em;
  border: #9E6F99 solid;
  background-color: inherit;
  line-height: 0.5em;
  cursor: pointer;
}

select:focus{
outline: none;
}

.title2{
  padding: 1.1em;
}

.allp-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.allp-btn span{
  margin: 0.5em;
  padding: 0.5em 0.8em;
  text-align: center;
  border: solid #9E6F99;
  cursor: pointer;
}

.allp-btn span:hover{
  background-color: #9E6F99;
        color: #fdfcfd;
}
/*------End All Product Page Styling-------*/


/*------Product Details Page Styling-------*/

.col{
  padding-top: 2.5em;
    width: 80%;
  margin: auto;
}
.details{
  width: 30%;
}

.details-img{
  margin: 1.5em;
}

.title3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.5em auto 0.5em ;
  width: 75%;
}

.title3 a{
text-decoration: none;
color:  #9E6F99;

}

.img-galery{
  display: flex;
}
.img-galery img{
  width: 19%;
  margin: 1.5em;
  cursor: pointer;
}

.products-details{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quantity{
  padding: 1.5em 0;
}
.quantity h3{
  padding: 0 0.5em 0 0em;
}

.quantity input{
  padding: 0.5em;
  margin: 0;
  width: 100px;
  border:  #9E6F99 solid;
}

.quantity input:focus{
outline: none;
}

.btn-modi a{
  font-size: 0.9em;
}

.btn-modi a:hover{
  font-size: 0.85em;
}

.full-details{
  width: 100%;
  text-align: center;
}


/*------End Product Details Page Styling-------*/


/*------About Us Page Styling-------*/

main{
  width: 70%;
  margin: auto;
}

.mafriculture-imfor{
  padding: 3em 1.5em 1.5em;
  text-align: center;
}

.mafriculture-imfor h2{
  padding: 1.5em 0.5em 0;
}

.mafriculture-imfor p{
  padding: 1.5em;
  line-height: 1.2em;
  font-size: 1.5em;
}

.team-members{
  display: flex;
  flex-direction: column;
}

.team-member{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  width: 70%;
  margin: 2em auto;
}

.team-img{
  width: 70%;
}

.member-details{
  width: 40%;
  margin: 2.5em;
}

/*------End About Us Page Styling-------*/

/*-----------Card items Styling------------*/

.card-items-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f5e9f3;
  width: 70%;
  margin: auto;
  padding-top: 3.5em;
}

td{
padding: 1em;

}

td:last-child{
  text-align: right;
}

th:last-child{
  text-align: right;
}

.card-items-container table tr td input{
  width: 40%;
  margin: 1.5em;
}
th{
  background-color:  #9E6F99;
  padding: 0.5em;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.total-price table{
width: 450px;
}

/*-----------End Card items Styling------------*/

@media (min-width: 660px) and (max-width: 1000px){

/*-----Nav Menu-----*/
  .nav-bar{
        padding: 0 3em;
  }

  .nav-menu nav ul li a{
    margin: 0.5em;
  }
    
/*------MQ Banner------*/
  header .banner-container{
    padding-top: 3.5em;
    font-size: 1.5em;
  }

  .skewY-adjsuter{ 
    justify-content: space-between;
    transform: skewY(3deg);
    position: relative;
    display: flex;
    margin: auto;
    width: 70%;
  }

  .banner-text{
    /* padding-bottom: 9em; */
    font-size: 1.2em;
    justify-self: center;
    padding-left: 2em;
    position: absolute;
   margin-top: 1rem;
    z-index: 1;
  }
  .banner-text p{
    font-size: 1.4em;
  }

  
/*-------MQ Feature Categories Styling-------*/
    .col-3{
    width: 100%;
    }
  
    .col-3 img{
      width: 100%;
      height: auto;
      }
  
     #vase img{
      width: 65%;
      height: auto;
      }
      
/*-------MQ Feature Products Styling-------*/
  #product-vase img{
    width: 70%;
  }

  .featured-products-container{
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 4em;
  }


/*--------MQ Testimonials --------*/
.testimonials-container{
  width: 40%;
  margin: auto;
}

.footer-container{
  width: 100%;
}

}



/*------Mobile MQ--------*/

@media (max-width: 660px){

/*-------MQ Nav Bar styling------*/
.nav-bar{
      padding: 0 0.5em;
  }

  
  .nav-menu nav ul li a{
    margin: 0.1rem;
    padding: 0.3em;
    font-size: 0.8em;
  }

  /*------MQ Banner------*/
  header .banner-container{
    flex-direction: column;
    padding-top: 3.6em;
    font-size: 0.9em;
  }

  .skewY-adjsuter{ 
    justify-content: space-between;
    transform: skewY(3deg);
    position: relative;
    display: flex;
    margin: auto;
    width: 70%;
  }

  .banner-text{
    /* padding-bottom: 9em; */
    font-size: 1em;
    justify-self: center;
    padding-left: 2em;
    margin-top: 2rem;
    position: absolute;
    z-index: 1;
  }
  .banner-text p{
    font-size: 1.2em;
  }

  .ftBtn{
    padding: .5em;
  }
  
  .ftBtn a{
    color: white;
    border: solid white;
    border-radius: 15px;
    padding: .5em;
    transition: 0.7s;
    font-size: .7em;
  }
  
  .ftBtn a:hover{
    color: rgb(246, 193, 248);
    border: solid rgb(246, 193, 248);
    font-size: .6em;
  }

  /*-------MQ Feature Categories Styling-------*/
  .feature-categories-container{
    width: 80%;
   margin: auto;
  }

  .feature-categories{
    display: flex;
    flex-direction: column;
  }

  .col-3{
    width: 100%;
    }
  
  .col-3 img{
    width: 100%;
    height: auto;
    }

    #vase img{
    width: 65%;
    height: auto;
    }


/*-------MQ Feature Products Styling-------*/
  #product-vase img{
    width: 60%;
  }

  .featured-products-container{
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 4em;
  }

  .feature-products{
    display: flex;
    flex-direction: column;
  }

  .col-4 img{
    width: 60%;
    margin: 1.5em;
  }
  .col-4 {
    padding: 1.3em;
  }
/*--------MQ Testimonials --------*/
  .testimonials-container{
    width: 60%;
    margin: auto;
    height: 450px;
  }



 /*-----------MQ Card items Styling------------*/

  .card-items-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
    padding-top: 3.5em;
  }

  .card-items-container table tr td input{
    width: 60%;
    padding: 0.5em;
  }


  td{
    padding: 0.2em;
    }
    
    td:last-child{
      text-align: right;
    }
    
    th:last-child{
      text-align: right;
    }
    
    th{
      background-color:  #9E6F99;
      padding: 0.5em;
    }
    
    .total-price{
      display: flex;
      justify-content: flex-end;
    }
    
    .total-price table{
    width: 100%;
  }

/*-------MQ Footer-------*/

.footer-container{
  width: 100%;
}

.mapouter{
  position: relative;
  text-align: right;
  height: 50%;
  width: 100%;
  margin: 0.5em;
}
  
footer a{
  margin: 1.5em;
  color: rgb(255, 255, 255);
  font-size: .8em;
  transition: 0.6s;
  text-decoration: none;
}

.footerSubcontainer{
  display: flex;
}

.footerSubcontainer p{
  width: 95%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%;
  margin: 0.5em;
}


}
